/* reset */
body {
  font-family: sans-serif;
  font-size: 20px;
}
body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* index */
.warpper {
  width: 70%;
  height: 200px;
  margin: 50px auto;
  background: #fff;
}
.warpper h1 {
  font-size: 20px;
  text-align: center;
  line-height: 200px;
}
/* box-shadow: h-shadow v-shadow blur spread color inset */
.effect {
  position: relative;
  box-shadow: 0 1px 4px #ccc,
    0 0 40px rgba(0, 0, 0, .1) inset;
}
.effect::after,
.effect::before {
  position: absolute;
  top: 50%;
  bottom: -1px;
  left: 15px;
  right: 15px;
  content: '';
  border-radius: 100px/10px;
  box-shadow: 0 0 20px #000;
  z-index: -1;
}

/* 翘边阴影 */
.box {
  width: 980px;
  height: auto;
  clear: both;
  overflow: hidden;
  margin: 20px auto;
}
.box li {
  position: relative;
  width: 300px;
  height: 210px;
  float: left;
  margin: 20px 10px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, .27),
    0 0 60px rgba(0, 0, 0, .1) inset;
}
.box li img {
  display: block;
  width: 290px;
  height: 200px;
  margin: 5px;
}
.box li::before {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 9px;
  width: 89%;
  height: 80%;
  transform: skew(-12deg) rotate(-4deg);
  box-shadow: 0 8px 20px rgba(0, 0, 0, .6);
  z-index: -2;
}
.box li::after {
  content: '';
  position: absolute;
  right: 20px;
  bottom: 9px;
  width: 89%;
  height: 80%;
  transform: skew(12deg) rotate(4deg);
  box-shadow: 0 8px 20px rgba(0, 0, 0, .6);
  z-index: -2;
}